# Data Analysis Honolulu
Here i will explore de data of Honolulu. I would like to take a holiday in Bonolulu Hawaii, but i would like to explore some data of the weather.

## Importing libraries

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from collections import defaultdict
from sqlalchemy.inspection import inspect

## Importing data

The data is saved in a Database format (SQLite) so i will use SQL Alchemy to connect and import data using SQL Queries and dave this data in a pandas dataFrame

### Connecting to Database

In [12]:
engine=create_engine('sqlite:///hawaii.sqlite')

### Query function

In [36]:
def runQuery(sql):
     result = engine.connect().execute((text(sql)))
     return pd.DataFrame(result.fetchall(), columns=result.keys())

def query_to_dict(rset):
    result = defaultdict(list)
    for obj in rset:
        instance = inspect(obj)
        for key, x in instance.attrs.items():
            result[key].append(x.value)
    return result

def query_to_pandas(data: dict):
     return pd.DataFrame(query_to_dict(data))

### Tables

In [14]:
Query = """
SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';
"""
runQuery(Query)

          name
0  measurement
1      station

### Tables Intances

In [39]:
Base = automap_base()
Base.prepare(engine, reflect=True)

Station = Base.classes.station
Measurement = Base.classes.measurement

session = Session(engine)

## precipitation analysis

### 1. Last 12 month

In [41]:
rset = session.query(Measurement).all()
df =

          id      station        date  prcp  tobs
0          1  USC00519397  2010-01-01  0.08  65.0
1          2  USC00519397  2010-01-02  0.00  63.0
2          3  USC00519397  2010-01-03  0.00  74.0
3          4  USC00519397  2010-01-04  0.00  76.0
4          5  USC00519397  2010-01-06   NaN  73.0
...      ...          ...         ...   ...   ...
19545  19546  USC00516128  2017-08-19  0.09  71.0
19546  19547  USC00516128  2017-08-20   NaN  78.0
19547  19548  USC00516128  2017-08-21  0.56  76.0
19548  19549  USC00516128  2017-08-22  0.50  76.0
19549  19550  USC00516128  2017-08-23  0.45  76.0

[19550 rows x 5 columns]